<h1>Answer</h1>
<div class="p2 m2 bg-info">
<%= @question %>
</div>
<div class="p2 m2 bg-warning">
<%= @answer %>
</div>
<div class="p5 m5 card">
<%= link_to "Ask another question", ask_path %>
</div>
